@model ModelClasses.QuizQuestionModel

@{
    ViewBag.Title = "AddQuestion";
}
<main id="main" style="padding: 60px 0;">

    <section id="services" class="services">

        <div class="container" data-aos="fade-up">

            <p>@ViewBag.message</p>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>QuizQuestionModel</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @*<div class="form-group">
                        
                        @Html.LabelFor(model => model.QuizQuestionId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.QuizQuestionId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QuizQuestionId, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                    <div class="form-group">
                        <input type="text" name="QuizId_fk" value="@ViewBag.QuizID" hidden/>
                        @*@Html.LabelFor(model => model.QuizId_fk, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.QuizId_fk, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QuizId_fk, "", new { @class = "text-danger" })
                        </div>*@
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2">Option 1 : </label>
                        <div class="col-md-10">
                            <input type="text" name="option1" value=""  required/>                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2">Option 2 : </label>
                        <div class="col-md-10">
                            <input type="text" name="option2" value="" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2">Option 3 : </label>
                        <div class="col-md-10">
                            <input type="text" name="option3" value="" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2">Option 4 : </label>
                        <div class="col-md-10">
                            <input type="text" name="option4" value="" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2">Answer : </label>
                        <div class="col-md-10">
                            <input type="text" name="Answer" value="" required />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CreatedOn, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" name="CreatedON" value="@DateTime.Now" class="form-control" readonly />
                            @*@Html.EditorFor(model => model.CreatedOn, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.CreatedOn, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" name="CreatedBy" value="@Session["UserId"]" class="form-control" hidden />

                        @*@Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
                        </div>*@
                    </div>

                    @*<div class="form-group">
                        @Html.LabelFor(model => model.UpdatedOn, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UpdatedOn, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UpdatedOn, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UpdatedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UpdatedBy, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UpdatedBy, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </section>
</main>
